CriminalFinder.WebClient.UnitTest/Service References/CriminalWS/CriminalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CriminalFinder.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CriminalFinder.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57298/CriminalService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CriminalFinder.BusinessLayer" />
  <xs:complexType name="CriminalServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceErrorMsg" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CriminalFinder.BusinessLayer" minOccurs="0" name="criminals" nillable="true" type="q1:ArrayOfCriminalInfo" />
      <xs:element minOccurs="0" name="operationStatus" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CriminalServiceResponse" nillable="true" type="tns:CriminalServiceResponse" />
</xs:schema>