CriminalFinder.WebClient/Service References/CriminalFinderService/CriminalService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CriminalFinder.BusinessLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CriminalFinder.BusinessLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCriminalInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CriminalInfo" nillable="true" type="tns:CriminalInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCriminalInfo" nillable="true" type="tns:ArrayOfCriminalInfo" />
  <xs:complexType name="CriminalInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:float" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CriminalInfo" nillable="true" type="tns:CriminalInfo" />
  <xs:complexType name="CriminalSearchCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="MaxAge" type="xs:int" />
      <xs:element minOccurs="0" name="MaxHeight" type="xs:float" />
      <xs:element minOccurs="0" name="MaxWeight" type="xs:float" />
      <xs:element minOccurs="0" name="MinAge" type="xs:int" />
      <xs:element minOccurs="0" name="MinHeight" type="xs:float" />
      <xs:element minOccurs="0" name="MinWeight" type="xs:float" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CriminalSearchCriteria" nillable="true" type="tns:CriminalSearchCriteria" />
</xs:schema>